/* -----------------------------
  COLORS:
  Primary: #EC5242
  Secondary: #D3D3D3
  Dark: #272A31
------------------------------- */

$color-primary:#ec5242;
$color-secondary:#d3d3d3;
$color-dark:#272a31;
