/* -----------------------------
  COLORS:
  Primary: #EC5242
  Secondary: #D3D3D3
  Dark: #272A31
-------------------------------*/

$color-primary:#EC5242;
$color-secondary:#D3D3D3;
$color-dark:#272A31;