@media only screen and (max-width: 768px) {
  .top-nav {
    display: none;
  }

  .container {
    max-width: 85%;
  }

  header {
    height: 100vh;
  }

  .main-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    background-color: #fff;

    & .navigation-logo {
      display: none;
    }

    & .main-menu ul {
      display: none;
    }

    & .menu-icon {
      display: block;
      margin-top: 1rem;

      & svg {
        height: 4rem;
        width: 4rem;
      }
    }
  }

  .mobile-navigaton {
    height: 100%;
    width: 100%;
    overflow: hidden;

    & .mobile-menu ul {
      list-style: none;
      width: auto;
      height: auto;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      & li {
        padding: 1rem;

        & a {
          text-decoration: none;
          color: $color-dark;
        }

        &:hover {
          background-color: rgba($color-primary, 0.5);
          width: 100%;
          text-align: center;
          transform: scale(1.2);
          transition: 1s all ease-in-out;
        }
      }
    }

    & .close-btn {
      display: flex;
      justify-content: flex-end;
      margin-right: 5rem;
      padding: 1rem;

      & svg {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  #header-about {
    height: 85vh !important;
  }

  .head {
    height: 90vh;
    margin-top: -2rem;

    & .head-content {
      margin-top: 0;

      & h2 {
        font-size: 2rem;
        margin-top: -6rem;
      }

      & h6 {
        padding: 6rem 2rem 2rem 0;
        font-size: 2rem;
        font-weight: 300;
        color: $color-primary;
      }

      & h1 {
        padding: 0 2rem 2rem 0;
        font-size: 4rem;
        display: inline-block;
        font-weight: 900;
        text-transform: uppercase;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: url('../../images/red-pattern.jpeg');

        & .year {
          display: block;
        }
      }

      & .head-text {
        border: 1px solid #fff;
        padding: 2rem;
        min-width: 100%;
        max-width: 100%;

        & p {
          line-height: 2rem;
          overflow: auto;
        }
      }

      & .head-text-about {
        border: 1px solid #fff;
        padding: 1rem;
        min-width: 100%;
        max-width: 150%;
        background-color: #fff;
        text-align: center;

        & p {
          line-height: 1rem;
        }
      }

      & .head-date {
        padding-top: 2rem;
        padding-bottom: 0;

        & h4 {
          font-size: 2.3rem;
          font-weight: 700;
          color: $color-dark;
        }

        & p {
          padding: 1rem 1rem 1rem 0;
          color: $color-secondary;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-right: 2rem;

    & .card {
      background-color: rgba($color-dark, 0.5);
      color: $color-secondary;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100% !important;
      margin-left: 0;

      & h6 {
        font-size: 1rem;
        font-weight: 400;
        color: $color-primary;
        margin-left: -1rem;
      }

      & .card-text {
        text-align: left;
      }

      & .icon {
        padding: 2rem 2rem 0 2rem;

        & svg {
          color: #fff;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }

  .main-section {
    & .main-content {
      width: 100%;

      & .cta {
        text-align: center;
        margin-bottom: 6rem;
        margin-top: -4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > a {
          display: none;
        }

        & button {
          display: block;
          text-align: center;
        }
      }
    }
  }

  .featured {
    width: 100%;
    margin-top: 140vh;

    & .featured-title {
      text-align: center;
      display: block;

      & h2 {
        color: #000;
      }
    }
  }

  .partners {
    height: 45rem;

    & .partners-title h3 {
      padding-top: 4rem;
    }

    & .partner-logos {
      gap: 5rem;
      margin-top: 2rem;

      & .logo {
        height: 2rem !important;
        width: 2rem !important;
      }
    }
  }

  .speaker-cards {
    margin-top: 5rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    & .speaker-card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 1rem;

      & .speaker-card-bg svg {
        height: 8rem;
        width: 8rem;
        position: absolute;
        margin-left: -1.5rem;
        margin-top: -1.2rem;
        background-color: $color-secondary;
        opacity: 0.5;
        z-index: -1;
      }

      & img {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
      }

      & .speaker-name h3 {
        color: $color-dark;
      }

      & .speaker-title p {
        color: $color-primary;
        padding-bottom: 1rem;
      }

      & .speaker-details p {
        color: $color-dark;
      }
    }
  }

  #events {
    margin: 1rem 0;
    padding-top: 4rem;
  }

  .event-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    & .event-card-1 {
      width: 100%;
    }

    & .event-card-2 {
      width: 100%;
    }
  }
}
