.speaker-cards {
    margin-top: 5rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;

  & .speaker-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 2rem;

    & .speaker-card-bg svg {
      height: 8rem;
      width: 8rem;
      position: absolute;
      margin-left: -1.5rem;
      margin-top: -1.2rem;
      background-color: $color-secondary;
      opacity: 0.5;
      z-index: -1;
    }

    & img {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
    }

    & .speaker-name h3 {
      color: $color-dark;
      font-weight: 600;
      font-size: larger;
    }

    & .speaker-title p {
      color: $color-primary;
      padding-bottom: 1rem;
      padding-top: 0.5rem;
      font-size: smaller ;
    }

    & .speaker-details p {
      color: $color-dark;
    }
  }
}